.textField{
    height: 32px;
      width: 200px;
      border: 1px solid #e5e5e5;
      padding: 0 32px 0 16px;
    }
      .textField:hover {
        cursor: pointer;
      }
    
      .btnBuscar{
        height: 34px;
        width: 32px;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
    
      .barraBusqueda{
    float: right;
     padding: 20px;
      }
      .boton-accionEdit {
        background-color: #007bff; /* Color de fondo del botón */
        color: #fff; /* Color del texto del botón */
        border: none; /* Sin borde */
        padding: 5px 10px; /* Espaciado interior del botón */
        margin-right: 10px; /* Margen a la derecha para separar los botones */
        cursor: pointer; /* Cambia el cursor al pasar por encima */
        border-radius: 4px; /* Bordes redondeados */
      }

      .boton-accionDetails {
        background-color: #24096e; 
        color: #fff; 
        border: none; 
        padding: 5px 10px; 
        margin-right: 10px; 
        cursor: pointer; 
        border-radius: 4px; 
      }
      
      .boton-accionEdit:hover {
        background-color: #abcef3; /* Cambia el color de fondo al pasar por encima */
      }
      .boton-accionDetails:hover {
        background-color: #b8abf3; 
      }
      
  