.img-profile{
    width: 20%;
}

.container-profile{
    display: flex;
    align-items: center;
}

.card-profile{
    display: flex;
    justify-content: center;
}


.Profilebutton {
    background-color: #7386D5;
    border: none; 
    border-radius: 5px; 

}

.Profilebutton:hover ,
.Profilebutton:active {
    background-color: #5873c5; /* Cambia el color al pasar el mouse sobre el botón */
}

@media (max-width: 768px) {
    .buttons-profile{
        display: flex;
        flex-direction: column;
        justify-content: center; 
    } 
    

}
